In [10]:
import pandas as pd
import helpers as stat
import importlib
importlib.reload(stat)
from helpers import remove_redundant_rows, merge_two_and_more_vehicle_crashes, print_to_html

# Fatal Motor Vehicle Crashes 1

In [11]:
df = pd.read_excel('junction_statistics.xls', engine='xlrd', nrows=25, skiprows=7, header=[0,2])
labels = ["Sleet, Hail (Freezing Rain or Drizzle)",
          "Snow",
          "Other",
          "Blowing Snow",
          "Freezing Rain or Drizzle",
          "Unknown/Not Reported",
          "Total"
          ]

df = remove_redundant_rows(df, labels, 5)
df = df.drop('Unnamed: 1_level_1', axis=1, level=1)  # rm redundant junction col
df = df.drop(columns='Total', axis=1, level=1)  # rm redundant Total col
df = merge_two_and_more_vehicle_crashes(df)
df = df.rename(columns={'No Adverse Atmospheric Conditions/Clear/Cloudy': 'Clear/Cloudy'},
          level=0)
print_to_html(df, 'fatal_motor_vehicle_crashes')
df

   by Relation To Junction   Clear/Cloudy                      Rain (Mist)  \
        Unnamed: 0_level_1 Single-Vehicle Multiple Vehicles Single-Vehicle
1                 Daylight           3646           13415.0            217
6       Dark - Not Lighted           1676            1904.0            222
11          Dark - Lighted           4377            4378.0            636
16                    Dawn            168             280.0             26
21                    Dusk            253             617.0             14

                     Fog, Smog, Smoke                   Severe Crosswinds  \
   Multiple Vehicles   Single-Vehicle Multiple Vehicles    Single-Vehicle
1              822.0               11              87.0                 4
6              222.0               59              67.0                 1
11             335.0               49              39.0                 3
16              38.0                7              41.0                 0
21              40.0                3               2.0                 1

                     Blowing Sand, Soil, Dirt                    \
   Multiple Vehicles           Single-Vehicle Multiple Vehicles
1               19.0                        0               5.0
6                2.0                        0               1.0
11               4.0                        1               1.0
16               0.0                        0               0.0
21               0.0                        0               0.0

           Cloudy
   Single-Vehicle Multiple Vehicles
1             584            2588.0
6             301             402.0
11            674             694.0
16             50              68.0
21             41             125.0

# Estimated Injury Only Motor Vehicle Crashes 2,3

In [12]:
df = pd.read_excel('junction_statistics.xls', engine='xlrd', nrows=25, skiprows=66, header=[0,2])

labels = ["Sleet, Hail (Freezing Rain or Drizzle)",
          "Snow",
          "Other",
          "Blowing Snow",
          "Freezing Rain or Drizzle",
          "Total"]

df = remove_redundant_rows(df, labels, 4)
df = df.drop('Unnamed: 1_level_1', axis=1, level=1)  # rm redundant junction col
df = df.drop(columns='Total', axis=1, level=1)  # rm redundant Total col
df = merge_two_and_more_vehicle_crashes(df)
df = df.rename(columns={'No Adverse Atmospheric Conditions/Clear/Cloudy': 'Clear/Cloudy'},
               level=0)
print_to_html(df, 'injury_motor_vehicle_crashes')
df

    by Relation To Junction   Clear/Cloudy                      Rain (Mist)  \
         Unnamed: 0_level_1 Single-Vehicle Multiple Vehicles Single-Vehicle
1                  Daylight         301118         2158289.0          23506
5        Dark - Not Lighted          40769          102836.0           6231
9            Dark - Lighted         123128          529919.0          24349
13                     Dawn           6741           31035.0           1310
17                     Dusk          11285           65741.0           2249
21  Dark - Unknown Lighting           4027           11059.0            671

                     Fog, Smog, Smoke                   Severe Crosswinds  \
   Multiple Vehicles   Single-Vehicle Multiple Vehicles    Single-Vehicle
1           226792.0              827            4856.0               136
5            18899.0             1642             849.0                 0
9            79463.0              448            2044.0               102
13            5561.0              820            1358.0                 0
17           13010.0                0             248.0                 0
21            1336.0              146             136.0                 0

                     Blowing Sand, Soil, Dirt                    \
   Multiple Vehicles           Single-Vehicle Multiple Vehicles
1             1804.0                        0             250.0
5              190.0                        0             189.0
9               26.0                       24               0.0
13             185.0                        0               0.0
17               0.0                        0             140.0
21               0.0                        0               0.0

           Cloudy
   Single-Vehicle Multiple Vehicles
1           52755          468656.0
5            7447           20299.0
9           15684           75498.0
13           1347            8824.0
17           2005           15399.0
21            271            1600.0

# Estimated Property-Damage-Only (PDO) Motor Vehicle Crashes 2,3

In [13]:
df = pd.read_excel('junction_statistics.xls', engine='xlrd', nrows=25, skiprows=108, header=[0,2])

labels = ["Sleet, Hail (Freezing Rain or Drizzle)",
          "Snow",
          "Other",
          "Blowing Snow",
          "Freezing Rain or Drizzle",
          "Total"]

df = remove_redundant_rows(df, labels, 4)
df = df.drop(columns='Total', axis=1, level=1)  # rm redundant Total col
df = df.drop('Unnamed: 1_level_1', axis=1, level=1) # rm redundant junction col

df = merge_two_and_more_vehicle_crashes(df)
df = df.rename(columns={'No Adverse Atmospheric Conditions/Clear/Cloudy': 'Clear/Cloudy'},
               level=0)
print_to_html(df, 'property_damage_motor_vehicle_crashes')

df

    by Relation To Junction   Clear/Cloudy                      Rain (Mist)  \
         Unnamed: 0_level_1 Single-Vehicle Multiple Vehicles Single-Vehicle
1                  Daylight         325596         4764866.0          46412
5        Dark - Not Lighted          88178          179974.0          20184
9            Dark - Lighted         165493          902129.0          30510
13                     Dawn           8900           53874.0           1361
17                     Dusk          11094          140387.0           1931
21  Dark - Unknown Lighting           7995           21908.0           1438

                     Fog, Smog, Smoke                   Severe Crosswinds  \
   Multiple Vehicles   Single-Vehicle Multiple Vehicles    Single-Vehicle
1           555120.0             1521           10484.0               290
5            40836.0             3221            3164.0               217
9           171423.0             2097            3351.0                 0
13           14930.0              564            1483.0                 0
17           23759.0              151             599.0                 0
21            5319.0                0             154.0                 0

                     Blowing Sand, Soil, Dirt                    \
   Multiple Vehicles           Single-Vehicle Multiple Vehicles
1             3440.0                      377             639.0
5              320.0                        0             171.0
9              626.0                      226             528.0
13               0.0                        0               0.0
17             240.0                        0               0.0
21               0.0                        0               0.0

           Cloudy
   Single-Vehicle Multiple Vehicles
1           76495         1044130.0
5           15868           36456.0
9           27803          137319.0
13           3164           19061.0
17           4241           33192.0
21           1827            4182.0